@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import "./style.css";
@import "./variable.css";
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
